#my_name
{
    font-size: 30px;
    margin-bottom: -3px;
}

.logo
{
    height: 100px;
}

#have_completed
{
    display: flex;
    flex-direction: row;
}

#have_completed > div
{
    flex: 1;
}

.num_hrs
{
    padding: 10px;
    border: 1px solid black;
    margin-right: 20px;
    font-size: 20px;
}


