#my_name
{
    font-size: 30px;
    margin-bottom: -3px;
}

.logo
{
    height: 100px;
}

.projects_flexbox
{
    display: flex;
    flex-direction: row;
}

.projects_flexbox >div
{
    flex: 1;
    margin-right: 20px;
}

.project_img
{
    height: 300px;
    
}

#have_completed
{
    display: flex;
    flex-direction: row;
    margin-left: 5.5%;
}

#have_completed > div
{
    flex: 1;
    margin-right: 10px;
}

.num_hrs
{
    padding: 10px;
    border: 1px solid black;
    border-radius: 200px;
    margin-right: 20px;
    font-size: 20px;
}

.mainCard .githubBtns
{
    display: none;
}

.mainCard:hover .githubBtns
{
    display: block;
    margin-bottom: 20px;
}

.mainCard:hover
{
    -webkit-box-shadow: 1px 9px 10px 0px rgba(85, 57, 50, 0.43);
    -moz-box-shadow:    1px 9px 10px 0px rgba(85, 57, 50, 0.43);
    box-shadow:         1px 9px 10px 0px rgba(85, 57, 50, 0.43);
}

.mainCard:hover .info
{
    display: none;
}

#proficiency
{
    display: flex;
    text-align: center;
}

#proficiency > div
{
    flex: 1;
    margin-right: 10px;
}

#proficiency > p
{
    padding: 15px;
}

@media only screen and (min-width: 280px) and (max-width: 1100px)
{
    .projects_flexbox
    {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    #proficiency
    {
    display: flex;
    text-align: center;
    flex-direction: column;
    }

    .projects_flexbox >div
    {
        margin-bottom: 20px;
    }
}