#my_name
{
    font-size: 30px;
    margin-bottom: -3px;
}

.logo
{
    height: 100px;
}

.projects_flexbox
{
    display: flex;
    flex-direction: row;
}

.projects_flexbox >div
{
    flex: 1;
    margin-right: 20px;
}

.project_img
{
    height: 300px;
    
}

#have_completed
{
    display: flex;
    flex-direction: row;
}

#have_completed > div
{
    flex: 1;
}

.num_hrs
{
    padding: 10px;
    border: 1px solid black;
    margin-right: 20px;
    font-size: 20px;
}


@media only screen and (min-width: 340px) and (max-width: 1200px)
{
    .projects_flexbox
    {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .projects_flexbox >div
    {
        margin-bottom: 20px;
    }
}

